xsdata_test/schema.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:ns0="http://xsdata" targetNamespace="http://xsdata" elementFormDefault="qualified" attributeFormDefault="unqualified">
    <!-- ID types -->
    <xsd:complexType name="Root">
        <xsd:sequence>
            <xsd:element name="foo" type="ns0:Foo" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="Foo">
        <xsd:attribute name="id" type="ns0:LSID" use="optional"></xsd:attribute>
    </xsd:complexType>
    <xsd:simpleType name="LSID">
        <xsd:annotation>
            <xsd:documentation>
                Either LSID or internal consistent IDs for the file
            </xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="(urn:lsid:([\w\-\.]+\.[\w\-\.]+)+:\S+:\S+)|(\S+:\S+)"/>
        </xsd:restriction>
    </xsd:simpleType>
</xsd:schema>
